
.instagram-gradient {
  background: linear-gradient(60deg, #f50d05, #4300d4, #c72727, #7b3bbb);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  height: 100vh;
  width: 100vw;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
/*  */
body{
    /* background-image:url("wavesOpacity.svg"),
    linear-gradient(to bottom,
     rgba(112, 92, 78, 1)0%,
     rgba(203, 168, 144, 1)50% ,
     rgba(187, 164, 143, 1)100%); */

  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-container{
  min-height: 100vh;
  perspective: 1000px;
}
.flipper{
  position: relative;
  width: 420px;
	transition: transform 1.4s;
	transform-style: preserve-3d;
  position: absolute;
  left: 35%;
}
.login-front, .register-back {
  position: absolute;
  /* border: 4px solid  rgb(63, 37, 158); */
  border: 3px solid  #000;
  padding:30px 30px;
  top: 15vh;
  left: 0;
  right: 0;
  border-radius: 20px;
	backface-visibility: hidden;
}
.register-back{
  z-index: 2;
	transform: rotateY(0deg);
}

.login-front{
  transform: rotateY(180deg);
}
.flip{
  transform: rotateY(180deg);
} 
.top-image{
  background-image:url(pexels-yulia-ilina-9463157.jpg);
  background-size:cover;
  opacity:0.8;
  width: 360px;
  height:200px;
  border-radius: 20px;
}
.top-image h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-weight: 500;
  min-height: 200px;
}
.flip-container .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  background: #9C9A9C;
  margin: 20px 0;
  border-radius: 20px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  /* border: 2px solid #6f4e37; */
  border: 2px solid rgb(63, 37, 158);
  border-radius: 20px;
  font-size: 19px;
  padding: 20px 45px 20px 20px;
  /* color: antiquewhite; */
  color: #000;
}
.input-box input::placeholder{
  /* color:rgba(112, 92, 78, 1); */
  color: #272626;

}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 200;
}
.flip-container .remember-forgot{
 display: flex;
 justify-content: space-between;
 font-size:15px;
 margin: -15px 0 15px ;
}

.remember-forgot label input{
  margin-left: 10px;
  
}
.flip-container .remember-forgot a{
  color:black;
  display: flex;
  text-decoration: none;
  margin-right: 10px; 
}
.flip-container .remember-forgot a:hover{
  text-decoration:underline;
}
.flip-container button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  /* background-color:	#6f4e37; */
  background-color:	#7563db;
  font-weight: 500;
  font-size: large;
}
.flip-container button:hover{
  background-color:#9688e4;
  cursor: pointer;
}
.register-link a {
 text-decoration: none;
 padding: 10px;
 color: black;
 cursor: pointer;
}
.register-link a:hover{
  text-decoration: none;
}
.register-link p{
  padding: 10px;
}
